* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
}

/* header */
header {
  background-image: url("/images/bg-header-desktop.png");
  background-size: cover;
  width: 100vw;
  padding: 75px 0px 50px 0px;
}
.img__logo {
  width: 75px;
  height: 75px;
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
}

/* container */
.container {
  max-width: 590px;
  display: block;
  margin: 0px auto;
  text-align: center;
}
.container > h1 {
  font-size: 2rem;
  color: hsl(210, 10%, 33%);
  line-height: 1.5;
  margin-bottom: 10px;
}
.container > section {
  color: hsl(201, 11%, 66%);
  line-height: 1.3;
  font-size: medium;
  margin-bottom: 30px;
}

/* download buttons */
.download_btns > button {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: medium;
  font-weight: 600;
}
